:root {
    --main-red: #d71c2e;
    --text-light: white;
    --text-dark: black;
    --background-gray: #e2e8f0;
    --shadow-color: #e1e1e1;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Berthold City Bold', 'Roboto', sans-serif;
    background-color: var(--background-gray);
}

div#tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--text-light);
}

img#logo {
    height: 48px;
    object-fit: cover;
    object-position: center 30%;
    padding: 1rem;
}

button {
    all: unset;
    cursor: pointer;
}

button.tab {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

button.tab:hover {
    color: var(--main-red);
}

button.tab:active {
    color: var(--text-dark);
}

div.header {
    display: grid;
    grid-template-rows: 2fr auto;
    justify-items: center;
    
    background-color: var(--main-red);
    color: var(--text-light);
}

/* HOME */
img#food {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center 30%;
}

p#bio {
    padding: 1rem;
    margin: 0;
}

/* MENU */


/* CONTACT */
.cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, auto);
    gap: 24px;
    
    padding: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.card {
    background-color: var(--text-light);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 1px 1px 2px 1px var(--shadow-color);

    display: flex;
    flex-direction: column;
}

.card#hours {
    grid-row: 1;
    grid-column: 1;
}

.card#phone-email {
    grid-row: 2;
    grid-column: 1;
}

.card#address {
    grid-row: 3;
    grid-column: 1;
}

.card#feedback {
    grid-row: 1 / -1;
    grid-column: 2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputs div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input, textarea {
    padding: 8px;
    font-family: 'Berthold City Bold', 'Roboto', sans-serif;
}

button#submit {
    align-self: center;
    color: var(--text-light);
    background-color: var(--main-red);
    padding: 1rem;
    border-radius: 15px;
}

button#submit:hover {
    color: var(--text-dark);
}

button#submit:active {
    color: var(--text-light);
}